/* Add application styles & imports to this file! */
@use "@angular/material" as mat;
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap");
 @import './app/scss/variables.scss';

$theme: mat.define-theme(
  (
    color: (
      theme-type: light,
    ),
  )
);

body {
  @include mat.all-component-themes($theme);
  margin: 0;
  padding: 30px;
  height: 100%;
  background: $background-color
}

html {
  height: 100%;
}

@include mat.core();
@include mat.color-variants-backwards-compatibility($theme);
